<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/blog-post.css">
</head>

<body>

    <div class="wrapper">
        <div class="blog-post">
            <div class="blog-post__left">
                <h1 class="blog-post__header">Blog post Title</h1>
                <p class="blog-post__textcontent">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, alias dicta cumque sed dolor obcaecati necessitatibus accusantium vel magnam, repudiandae adipisci nobis sit corrupti dolorum harum! Reprehenderit dicta cum dolores.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, alias dicta cumque sed dolor obcaecati necessitatibus accusantium vel magnam, repudiandae adipisci nobis sit corrupti dolorum harum! Reprehenderit dicta cum dolores.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, alias dicta cumque sed dolor obcaecati necessitatibus accusantium vel magnam, repudiandae adipisci nobis sit corrupti dolorum harum! Reprehenderit dicta cum dolores.Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores, alias dicta cumque sed dolor obcaecati necessitatibus accusantium vel magnam, repudiandae adipisci nobis sit corrupti dolorum harum! Reprehenderit dicta cum dolores.</p>

                <a href="#" class="blog-post__button">Read More</a>
            </div>
            <div class="blog-post__right">
                <img class="blog-post__img" src="/img/dummyimg.jpg" alt="">
            </div>
        </div>
    </div>

</body>

</html>