<%- include("header")%>


 <div id="contactWrapper">

	<h2 id="formTitle">Contact Information</h2>

	<div id="contactInfo">
		<p class="infoText">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis fugiat porro deleniti explicabo soluta molestias modi, veritatis consequuntur pariatur exercitationem.</p>
		<div class="infoItem">
			<span class="infoIcon fas fa-phone"></span>
			<p class="infoTitle">Phone</p>
			<p class="infoContent">0-800-123-4567</p>
		</div>
		<div class="infoItem">
			<span class="infoIcon fas fa-map-marker-alt"></span>
			<p class="infoTitle">Location Address</p>
			<p class="infoContent">698 katrine crossroad apt. 325, miami, usa</p>
		</div>
		<div class="infoItem">
			<span class="infoIcon fas fa-envelope"></span>
			<p class="infoTitle">e-mail address</p>
			<p class="infoContent">indiega@solutions.com</p>
		</div>

	</div>

	<form method="post" action="/contact" id="contactForm" autocomplete="off">
		<input type="text" name="name" id="contactName" placeholder="YOUR NAME">
		<input type="text" name="mail" id="contactMail" placeholder="EMAIL ADDRESS">
		<input type="tel" maxlength="8" name="phone" id="contactPhone" placeholder="PHONE NUMBER">
		<input type="text" name="subject" id="contactSubject" placeholder="SUBJECT">
		<textarea name="message" id="contactMessage" placeholder="YOUR MESSAGE..."></textarea>
		<input type="submit" id="contactSubmit" value="Send message">
	</form>

</div>


<script src="js/contact.js"></script>