<div id="galleryContainer">
    <div id="galleryBox">
            <% let lastClone = images.length-1; %>
            <img id ="lastClone" class="gallery_image" src="/img/slider/<%- images[lastClone].src %>.jpg" alt="Picture of the game">
        <% images.forEach(image =>{%>
            <img class="gallery_image" src="/img/slider/<%- image.src %>.jpg" alt="Picture of the game">
        <%}) %>
        <img id ="firstClone" class="gallery_image" src="/img/slider/<%- images[0].src %>.jpg" alt="Picture of the game">
    </div>
    <i id="leftArrow" class="fas fa-angle-left"></i>
    <i id="rightArrow" class="fas fa-angle-right"></i>
    

</div>