<div id="gallery-data">  
    <% images.forEach(image =>{%>
    <div class="gallery_image" data-url="/img/slider/<%- image.src %>.jpg"></div>
  
    <%}) %>
</div>

<div id="galleryBox">
    <i id="leftArrow" class="fas fa-angle-left"></i>
    <i id="rightArrow" class="fas fa-angle-right"></i>
    <img src="" alt="Picture of game" id="gamePic">

</div>