
<header>
		<img src="/img/logo.png" alt="LOGO" class="logo">

		<nav id="nav">
			<ul id="navList">
				<li id="navItem">
					<a href="/" id="navLink">HOMEPAGE</a>
				</li>
				<li id="navItem">
					<a href="/store" id="navLink">STORE</a>
				</li>
				<li id="navItem">
					<a href="/contact" id="navLink">CONTACT</a>
				</li>
			</ul>
		</nav>

		<div id="search">
			<span id="searchIcon" class="fas fa-search"></span>
			<a href="#" class="button button--gradient">JOIN US NOW</a>
		</div>
	</header>