<head>
	<link rel="stylesheet" href="/css/header.css">
	<script src="https://kit.fontawesome.com/ab39bcca60.js"></script>
</head>
<header>
		<img src="/img/logo.png" alt="LOGO" class="logo">

		<nav id="nav">
			<ul id="navList">
				<li id="navItem">
					<a href="#" id="navLink">HOMEPAGE</a>
				</li>
				<li id="navItem">
					<a href="#" id="navLink">GAMES</a>
				</li>
				<li id="navItem">
					<a href="#" id="navLink">CONTACT</a>
				</li>
			</ul>
		</nav>

		<div id="search">
			<span id="searchIcon" class="fas fa-search"></span>
			<a href="#" class="join">JOIN US NOW</a>
		</div>
	</header>