<link rel="stylesheet" href="/css/home-top-banner.css">
<link rel="stylesheet" href="/css/general.css">
<div class="hometopbanner">
    <div class="hometopbanner__content">
        <h2 class="hometopbanner__smallheader">WELCOME TO GAMESPLAY</h2>
        <h1 class="hometopbanner__bigheader">INDIEGA GAMING SITE</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio quo accusantium cum ullam mollitia doloremque
            dolore unde sit eum omnis eaque, iusto, minima debitis sapiente laborum. Repellendus eligendi minus vitae?
        </p>
        <button class="button button--white">MORE ABOUT US</button>
    </div>

</div>