<link rel="stylesheet" href="/css/home-top-banner.css">
<link rel="stylesheet" href="/css/general.css">
<div class="hometopbanner">
    <div class="hometopbanner__content">
        <h2 class="hometopbanner__smallheader">WELCOME TO</h2>
        <h1 class="hometopbanner__bigheader">INDIEGA GAMING SOLUTIONS</h1>
        <p class="hometopbanner__loremtext">Indiega Gaming Solutions is a digital distribution platform developed by Indiega Gaming INC. for purchasing and playing video games. The platform's software client is available for personal computer and mobile platforms. 
        </p>
        <a href="/store"><button class="button button--white">VISIT THE STORE</button></a>
    </div>

</div>