.blog-post__left{
    padding-right: 1em;
}
.blog-post{
    position: relative;
    background-color: #292945;
    padding: 2em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 16em;
    margin: 2em 0;
}
.blog-post__header{
    margin: 0;
}
.blog-post__img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.blog-post__textcontent{
    margin-bottom: 2em;
}