.blog-post__left{
    padding-right: 1em;
}
.blog-post{
    position: relative;
    background-color: #292945;
    padding: 2em;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 16em;
    margin: 2em 0;
}
.blog-post__header{
    margin: 0;
}
.blog-post__img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
    object-fit: cover;
}
.blog-post__textcontent{
    margin-bottom: 2em;
}
.blog-post__postdate{
    margin: .5em 0;
    color: #C1D4F9;
}
.blog-post__gametitle{
    color: #C1D4F9;
    display: inline-block;
    margin-bottom: .5em;
}





/* Singlepost */

#send-knap{
    margin-bottom: 1em;
}

#single-post__top-img{
    width:100%;
}
#singlepost_banner{
    margin-bottom: 2em;
}
#singlepost_title{
    
    text-align: center;     
}

.singlepost-box{
    padding: 2em 3em 1px;
    margin-bottom: 2em;
    background-color: #292945;
 
}

