#contactWrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 3fr;
	width: 75%;
	margin: 5% auto 5% auto;
}

#formTitle {
	grid-column: 1 / -1;
	grid-row: 1 / 2;
	display: flex;
	justify-content: space-between;
}

#contactInfo {
	display: grid;
	grid-template-rows: 2fr repeat(3, 1fr);
}

.infoText {
	width: 85%;
	margin: 0 auto;
}

.infoItem {
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 1fr;
	margin: 6px 0 10px 0;
}

.infoIcon {
	grid-column: 1 / 2;
	grid-row: 1 / -1;
	font-size: 18px;
	text-align: center;
	color: dodgerblue;
}

.infoTitle {
	font-size: 14px;
	color: rgba(210, 210, 255, .85);
}

#contactForm {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 2fr 1fr;
	grid-gap: 10px;
}

#contactForm input, #contactForm textarea {
	background-color: #292945;
	padding: 0 0 0 10px;
	color: white;
}

#contactForm #contactMessage {
	grid-column: 1 / -1;
	width: 100%;
	justify-self: center;
	resize: none;
	padding: 12px 0 0 8px;
	font-family: inherit;
	font-size: .8rem;
}

.borderless{
	border: 1px solid transparent;
}
.fieldError{
	border: 1px solid red;
}
.returnmessage--success{
	color: #05e805;
}
.returnmessage--error{
	color: red;
}

.errorMessages{
	list-style: none;
	color: red;
}

/*======================================================================*/
/* Italics... */

::-webkit-input-placeholder {
	font-style: italic;
 }
 :-moz-placeholder {
	font-style: italic;  
 }
 ::-moz-placeholder {
	font-style: italic;  
 }
 :-ms-input-placeholder {  
	font-style: italic; 
 }

 /* comments */ 

#commentsForm {
	display:flex;

}


.flexbox{
    display:flex;
}

.flex1{
    flex:1;
}
.flex2{
    flex:2;
}
.flex3{
    flex:3;
}

#commentForm{
	margin: 0 auto;
	width:60%;
	background-color:#2a353f;
	padding: 5% 5%;
	border-radius: 10px;
	
}
.form-control {
	width:50%;
	border: 2px solid rgba(255,255,255,0.05);
	border-radius: 10px;
	outline:none;
	padding: 2%;
	font-size: 12px;
	margin-bottom:1vh;
	cursor:text;
	background-color: #292945;
	color:#fff;
	
	
}

textarea::placeholder{
	cursor:text;
	height:3vh;
	font-family: 'Open Sans', sans-serif;
	color:#a2b1bf;
	padding:2px;
	
}

input::placeholder{

font-family: 'Open Sans', sans-serif;

}

form .submit {
	font-family: 'Open Sans', sans-serif;
	padding-left:1.5%;
	border:none;
	width:20%;
	color:#FFF;
	font-size:16px;
	font-weight: 400;
	background-color: #292945;
	text-align: left;
}

.fa-envelope{
	color:#fff;
	font-size:1.5em;
	padding-top: 1px;
	
}

#send_knap{
	text-align: right;
	width:10%;
	border-radius: 10px;
	outline:none;
	padding: 2%;
	font-size: 12px;
	margin-bottom:1vh;
	cursor:text;
}