
*{
    box-sizing: border-box;
}
.flexbox {
    display:flex;
}

.flex1{
    flex:1;
}


.navbox {
    margin-top: 10%;
}
.footerDescription{
margin-bottom: 25%;
}
#footer_logo {
    margin-top: 20%;
 }

 #copyright{
     margin-top: 2em;
 }

 #footer_box{
     border-bottom: 1px solid rgba(153,153,153,0.4);
 }
footer {
    height: 67vh;
    background-color: #2B2A49;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  footer li {
    margin-bottom: 8%;
    flex:1;
}

footer a{ 
  color: white;
  text-align: center;
  text-decoration: none;
}

.copyright{
    float:right;
}

.ARS{
    float: left;
}

.footerWrapper{
    width: 70%;
    margin: 0 auto;
}