
*{
    box-sizing: border-box;
}
.flexbox {
    display:flex;
}

.flex1{
    flex:1;
}

.logo{
    margin: 7em 0 0 15em;
    width:30%;
    height: auto;
}

.navbox {
    margin-top: 5%;
}
.footerDescription{
margin-top: 7%;
}

footer {
    height: 50vh;
    background-color: #2B2A49;
}

footer ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  footer li {
    margin: 5% 8% 5% 0;
    flex:1;
}

footer a{ 
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.copyright{
    float:right;
}

.ARS{
    float: left;
}

.footerWrapper{
    width: 70%;
    margin: 0 auto;
}