#gameContainer {
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	grid-column-gap: 25px;
	margin: 2rem 0 3rem 0;
}

.gameInfo {
	display: flex;
	flex-direction: column;
	/* background-color: #292945; */
}

.gameCategoriesandDate {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
	color: #C1D4F9;
	border-bottom: 3px solid #292945;
	padding-bottom: .3em;
}

.gameCategory {
	font-size: .9rem;
	margin: 0 .5rem 0 0;
}

.gameDate {
	text-align: right;
	font-size: .9rem;
}

.gameSummary {
	margin: 1rem 0 1rem 0;
	font-size: 1rem;
	line-height: 1.25rem;
}

.gamePrice {
	font-weight: bold;
	margin: .5em 0 0 0;
	display: flex;
	justify-content: space-between;
	border-top: 3px solid #292945;
	padding: 1em 0;
	align-items: center;
}

.gameNews {
	grid-column: 2 / 3;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
	grid-row-gap: 1rem;
	border: 3px solid #292945;
}

.newsTitle {
	font-size: 1.2rem;
}

.allNews {
	font-size: .9rem;
	color: dodgerblue;
	text-align: right;
	margin-left: 1.5em;
}

.newsArticle {
	grid-column: 1 / -1;
	justify-self: center;
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	padding: 1rem;
	margin: 0 0 .75rem 0;
	grid-gap: .5rem
}

.articleLeft {
	display: flex;
	flex-direction: column;
}

.articleTitle {
	grid-row: 1 / 2;
	font-weight: bold;
	margin: 0 0 .5rem 0;
}

.articleDate {
	grid-row: 2 / 3;
	margin: 0 0 1.25rem 0;
	font-size: .8rem;
	color: #C1D4F9;
}

.articleLink {
	color: dodgerblue;
}

.articleImage {
	max-width: 100%;
	border-radius: 5px;
	height: 100%;
	object-fit: cover;
}

/* Gallery */

#galleryContainer {
	/* margin: 0 auto; */
	/* width: 60vw; */
	height: 80vh;
	overflow: hidden;
	position: relative;
}

#galleryBox img {
	object-fit: cover;
	width: 100%;
	height: auto;
}

#galleryBox {
	height: 100%;
	width: auto;
	margin: 50px 0 0 0;
	display: flex;
}

.fa-angle-left {
	cursor: pointer;
	color: white;
	left: 0%;
	font-size: 5em;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 11px;
}

.fa-angle-right {
	padding: 5px 11px;
	cursor: pointer;
	right: 0%;
	font-size: 5em;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
	background-color: rgba(0, 0, 0, 0.5);
}

.news__header {
	display: flex;
	justify-content: space-between;
	background-color: #292945;
	padding: 1em;
}