.dropdown__genreSorter{
    position: relative;
    display: inline-block;
    margin: 1em 0;
}
.dropdown__text{
    margin: 0;
    padding: 1em;
}
.dropdown__genreSorter:hover .genreSorter__genres{
    display: block;
}
.genreSorter__genres{
    margin: 0 0 0 1em;
    padding: .5em;
    display: none;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: absolute;
}
.genreSorter__genre{
    list-style: none;
    height: 100%;
    padding: .3em 0;
}
