* {
	margin: 0;
}

header {
	height: 110px;
	width: 100%;
	background-color: rgba(31, 29, 52, .60);
	box-shadow: 2px 0 15px 2px black;
	position: absolute;
	top: 0;
}

.banner {
	height: 340px;
	background-image: url(https://www.wallpapermaiden.com/wallpaper/10588/download/1600x900/fantasy-landscape-mountain-snow-illustration-concept-art-clouds.jpg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.pageTitle {
	font-size: 28px;
	margin: 80px 0 0 0;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}

.pagePath {
	display: flex;
	flex-direction: row;
	margin: 20px 0 0 60px;
	text-shadow: 2px 4px 3px rgba(0,0,0,0.6);
}

.pathItem {
	padding: 0 16px 0 0;
	font-size: 14px;
	font-weight: bold;
	color: white;
}

.pathItem::after {
	content: " /";
	color: white;
	font-weight: bold;
	font-size: 18px;
	padding: 0 20px 0 30px;
}

.pathItem:last-of-type::after {
	content: "";
}