
<!DOCTYPE html>
<html lang="en">
<head>
        <%- include("partials/head.ejs") %>
</head>
<body>
    <div id="wrapper">
            <%- include('partials/blogpost')%>
        <%- include("partials/footer.ejs") %>
    </div>
</body>
</html>



