<<<<<<< HEAD
<!DOCTYPE html>
<html lang="en">
<head>
        <%- include("partials/head.ejs") %>
</head>
<body>
    <div id="wrapper">
        <%- include("partials/footer.ejs") %>
    </div>
</body>
</html>


=======
<%- include('partials/blogpost')%>
>>>>>>> upstream/master
