<%- include("partials/head") %>

<%- include("partials/header") %>

<%- include("partials/underside-banner") %>

<div class="wrapper">

	<img src="#" alt="Picture of game" id="gamePic">

	<div id="gameContainer">
		<div class="gameInfo">
			<p class="gameCategory">Kategori 1</p>
			<p class="gameCategory">Kategori 2</p>
			<h3 class="gameTitle">Et spil...</h3>
			<p class="gameSummary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci quia autem enim aliquid provident rem dicta voluptatibus nulla obcaecati dignissimos necessitatibus, natus quas tempore ex laboriosam officia incidunt modi cum et consequatur qui? Odio, inventore officia earum, vitae minus impedit hic praesentium voluptas laboriosam commodi aliquam soluta? Iure, quod quam.</p>
			<p class="gamePrice">€29.99</p>
		</div>
		<div class="gameNews">
			<h3 class="newsTitle">Latest News about Game!</h3>
			<a href="#" class="allNews">All News</a>
		</div>
	</div>

</div>

<%- include("partials/footer") %>